openapi: 3.0.0
info:
  title: Geolocation API
  contact: 
    name: Jason Harmon
    email: jason@stoplight.io
  version: 1.0.0
  description: A RESTful API to get location information based on IP address or coordinates

servers:
  - url: https://api.geolocation.com/v1

paths:
  /location:
    get:
      summary: Get location information by IP address
      parameters:
        - in: query
          name: ip
          description: The IP address to get location information for
          required: true
          schema:
            type: string
            format: ipv4
      responses:
        '200':
          description: Location information returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  latitude:
                    type: number
                    description: The latitude of the location
                  longitude:
                    type: number
                    description: The longitude of the location
                  city:
                    type: string
                    description: The city of the location
                  country:
                    type: string
                    description: The country of the location
                  timezone:
                    type: string
                    description: The timezone of the location
        '400':
          description: Invalid IP address

  /location/{latitude}/{longitude}:
    get:
      summary: Get location information by coordinates
      parameters:
        - in: path
          name: latitude
          description: The latitude of the location
          required: true
          schema:
            type: number
        - in: path
          name: longitude
          description: The longitude of the location
          required: true
          schema:
            type: number
      responses:
        '200':
          description: Location information returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  latitude:
                    type: number
                    description: The latitude of the location
                  longitude:
                    type: number
                    description: The longitude of the location
                  city:
                    type: string
                    description: The city of the location
                  country:
                    type: string
                    description: The country of the location
                  timezone:
                    type: string
                    description: The timezone of the location
        '400':
          description: Invalid coordinates

components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: Error code
        message:
          type: string
          description: Error message
      required:
        - code
        - message
